<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Polls Template : Question</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<div class="container">
    <!-- <p>This is my Question Page</p>
    <h1>{{ question.question_text }}</h1>
    <ul>
        {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }}</li>
        {% endfor %}
    </ul> -->

    <h2> {{ question.question_text }}</h2>
    {% if error_message %} <p><strong> {{ error_message }} </strong> </p> {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="POST">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}

        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
         {% endfor %}
         <button class="btn btn-primary" type="submit"> Vote </button>
    </form>
    </div>
        }
</body>

</html>